
body {
    color: #262626;
    font-size: 15px;
    font-weight: 400;
}

.book .book-summary, .book .book-body  {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
}

.book-summary {
    width: 280px;
}

.book.with-summary .book-body {
    left: 280px;
}

.book-summary ul.summary li.active>a {
    color: #175199;
}

.page-inner {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.markdown-section {
    font-size: 16px;
    color: #222;
}

.markdown-section a {
    color: #164379;
}

.markdown-section p code, .markdown-section ul code {
    color: #305CB5;
    font-size: 14px;
    background-color: #f7f7f9;
    font-weight: 400;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.markdown-section .glossary-term {
    text-decoration: none
}

.markdown-section h1 {
    margin-top: 0;
    margin-bottom: 14px;
    color: #364149;
    font-size: 28px;
    font-weight: 300;
    border-bottom: 1px solid #eee;
}

.markdown-section h2 {
    color: #646465;
    font-weight: 400;
}

.markdown-section h3 {
    color: #646465;
    font-weight: 400;
}

.markdown-section h4 {
    color: #646465;
    font-weight: 400;
}

.ex-page-foot {
    position:relative;
    padding:12px 0;
}

.ex-page-jump {
    zoom:1;
    line-height:1.5em;
    font-size:1.14em;
}

.ex-page-jump a {
    color: #175199;
}

.ex-jump-prev {
    float:left;
    color:#999;
    padding:2px 0;
}

.ex-jump-next {
    float:right;
    color:#999;
    padding:2px 0
}

.gitbook-link {
    display: none !important;
}

img {
    border: 1px solid lightgray !important;
    border-radius: 5px;
}